@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-thumb {
    background: #fb2201;
    border-radius: 10px;
}
li::marker {
    color: #fb2201;
}
li {
    color: #000;
}

html, 
body {
    font-family: "Poppins", sans-serif !important;
}
.row {
    align-items: center;
}
a {
    text-decoration: none !important;
    color: #000 !important;
}

body {
    overflow-x: hidden !important;
    color: #111;
}

html body p {
    font-size: 14px;
    line-height: 24px;
    color: #000;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: "Anton SC", sans-serif;
    color: #111;
}

body h3 {
    font-size: 32px !important;
    line-height: 42px !important;
    font-weight: 400 !important;
}

body h1 {
    font-size: 52px !important;
    line-height: 66px !important;
    font-weight: 400 !important;
}

body h2 {
    font-size: 40px !important;
    line-height: 50px !important;
    font-weight: 400 !important;
}

h1 span,
h2 span,
h3 span {
    color: #fb2201;
    background: -webkit-linear-gradient(#eb1143, #f82009);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
a.navbar-brand img {
    width: 50%;
}
.get-quote-buttons {
    position: fixed;
    right: 0;
    top: 30%;
    z-index: 9;
}

a.amz-button.quote-button:hover, .bton:hover {
    background: #000;
    color: #fff !important;
    border-color: #000;
}
a.amz-button.quote-button i {
    color: #f0162f;
    margin-right: 8px;
    font-size: 18px;
    transition: 0.5s;
}
a.amz-button.quote-button, .bton {
    background: transparent;
    border: 2px solid #000;
    padding: 10px 22px;
    border-radius: 32px;
    transition: 0.5s;
    color: #000;
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
}
a.amz-button:hover {
    background: #000;
    color: #fff !important;
}
.hero-buttons {
    margin-top: 50px;
}
a.amz-button i {
    color: #f21924;
    margin-right: 8px;
    transition: 0.5s;
}
a.amz-button {
    background: transparent;
    padding: 10px 22px;
    border-radius: 32px;
    border: 2px solid #000;
    transition: 0.5s;
    font-weight: 500;
}
.hero-sec-text ul li::marker {
    color: #f21a20;
}

.get-quote-buttons ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
button.amz-button.quote-button:hover {
    background: #f41b1c;
    color: #fff;
    border-color: #f41b1c;
}
button.amz-button.quote-button {
    background: transparent;
    border: 2px solid #000;
    border-radius: 32px;
    padding: 10px 24px;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Poppins';
    transition: 0.5s;
}

.request-quote {
    display: flex
;
    align-items: center;
    gap: 10px;
}
.get-quote-buttons ul li {
    margin-bottom: 3px;
}
.get-quote-buttons ul li a {
    display: flex;
    align-items: center;
    gap: 20px;
    background: #f41b1c;
    border-radius: 10px 0 0 10px;
    padding: 15px 12px;
    width: 100%;
    color: #fff;
    font-size: 16px;
    transform: translateY(-50%) translate(76%);
    transition: transform .2sease-in-out;
}
a.black-button {
    background: #111 !important;
}
.get-quote-buttons ul li svg {
    font-size: 20px;
}
.get-quote-buttons ul li a:hover {
    transition: transform .2sease-in-out;
    transform: translateY(-50%) translate(0);
    transition: .9s;
}

a {
    text-decoration: unset !important;
}
.hero-section {
    padding: 120px 0px 80px;
    background-image: url(/assets/images/hero-banner-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
form textarea, form input {
    width: 100%;
    padding: 0px 10px;
}
.hero-form input::placeholder, .hero-form textarea::placeholder {
    color: #000;
    padding: 0px 10px;
}
.hero-sec-text ul li {
    font-size: 16px;
    line-height: 26px;
    color: #000;
}
.hero-form input, .hero-form textarea {
    background: #e7e7e7;
    border: 2px solid #818181;
    padding: 8px 0px;
    margin: 4px 0px;
    border-radius: 12px;
}
.hero-form {
    padding: 40px 40px 40px;
    border-radius: 22px;
    box-shadow: 0px 0px 40px #cccccc75;
    margin: 0px 20px;
    background-color: #fff;
}
.modal-button-div button {
    background: #000;
    color: #fff;
    border: unset;
    padding: 10px 40px;
    border-radius: 32px;
    display: table;
    margin: auto;
}
.call-info-header a p:nth-child(1) {
    font-size: 18px;
    line-height: 28px;
    color: #f41b1c;
    font-weight: 500;
}
.call-info-header a {
    display: flex
;
    align-items: center;
    gap: 10px;
}
#why-choose-us ul#myTab {
    border: unset;
    justify-content: center;
    margin-bottom: 40px;
}

#why-choose-us ul#myTab button {
    color: #000;
    transition: 0.5s;
    background: transparent;
    border: 2px solid #000;
    border-radius: 32px;
    margin: 0px 10px;
    font-weight: 500;
    width: 260px;
}
#why-choose-us ul#myTab button:hover, #why-choose-us ul#myTab button.active {
    background: #f0162f;
    color: #fff;
}
#why-choose-us {
    padding: 100px 0px 40px;
}
.why-button button.amz-button.quote-button {
    display: table;
    margin: 40px auto;
}
#sign-process .sign-process-item h3 {
    font-size: 26px !important;
    line-height: 36px;
}

#sign-process .sign-process-item p {
    font-size: 18px;
    line-height: 28px;
    min-height: 80px;
    transition: 0.5s;
}
#sign-process .sign-process-item img {
    filter: brightness(0);
    width: 25%;
    margin-bottom: 20px;
}
#sign-process .sign-process-item {
    border: 2px solid #000;
    border-radius: 12px;
    padding: 20px 20px 10px;
    transition: 0.5s;
}
#sign-process .sign-process-item:hover p {
    color: #fff;
}
#sign-process .sign-process-item:hover img {
    filter: brightness(0) invert(1);
    transition: 0.5s;
}
#sign-process .sign-process-item:hover {
    background: #000;
}
#sign-process {
    padding: 100px 0px 40px;
}
.section-title {
    margin-bottom: 40px;
}
#sign-process .sign-process-item.active p {
    color: #fff !important;
}
#sign-process .sign-process-item.active {
    background: #000;
    color: #fff;
}
#sign-process .sign-process-item.active img {
    filter: brightness(0) invert(1);
}
#about-us {
    padding: 100px 0 40px;
}
.quote-btn, .btn-parent {
    margin-top: 50px;
}
#about-us img {
    width: 80%;
    border-radius: 12px;
    border: 2px solid #fff;
    box-shadow: 0px 0px 40px #cccccc8f;
}
#trademark-section {
    padding: 100px 0 40px;
}
#trademark-section div#inner-row-1 img, #trademark-section div#inner-row-3 img {
    float: right;
}
#trademark-section #main-row .row {
    padding: 60px 0;
}
#trademark-section #main-row .row img {
    border: 2px solid #fff;
    box-shadow: 0px 0px 40px #cccccc8f;
    border-radius: 12px;
}
#parallex-banner {
    background-image: url(/assets/images/parallex-banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding: 80px 0;
    color: #fff;
}
#parallex-banner h2, #parallex-banner p {
    color: #ffff;
}
#parallex-banner a.amz-button.quote-button i {
    color: #fff;
}
#parallex-banner a.amz-button.quote-button {
    border-color: #fff;
    color: #fff !important;
}


#why-choose-us .row {
    align-items: start;
}
ul.plan-list {
    min-height: 300px;
    padding: 0;
    list-style: none;
    overflow-y: visible !important;
    
}
.plan-parent {
    border: 2px solid #000;
    padding: 8px 10px 24px;
    border-radius: 12px;
}
ul.plan-list {
    min-height: 250px;
    padding: 0;
    list-style: none;
    overflow-y: visible !important;
}
.plan-parent h3 {
    border-radius: 12px;
    padding: 6px 0px;
    background: red;
    color: #fff;
}
.plan-parent .sale-rate {
    font-size: 32px;
    line-height: 42px;
    font-weight: 700;
    margin-top: 30px;
}
.plan-parent a.plan-btn:hover {
    background: #000;
    color: #fff !important;
}

.plan-parent .act-rate {
    text-decoration: line-through;
    font-size: 18px;
    line-height: 28px;
    color: #605d5d;
}
.plan-parent a.plan-btn {
    border: 2px solid #000;
    text-transform: capitalize;
    padding: 12px 24px;
    border-radius: 12px;
    transition: 0.5s;
    font-size: 18px;
    font-weight: 500;
    /* margin-bottom: 30px !important; */
}
p.price-quote {
    font-size: 16px;
    color: #7c7c7c;
}


#testimonial-section {
    padding: 40px 0 80px;
}
img.avatar {
    display: table;
    margin: 0 auto 20px;
    width: 15%;
    border-radius: 50%;
    margin-bottom: 20px;
    border: 4px solid #000;
}
.testimonial-card p.quote-text {
    font-size: 14px;
    line-height: 24px;
    min-height: 100px;
}
.testimonial-card {
    background: #fff;
    margin: 0px 10px;
    border: 2px solid #f41b1c;
    border-radius: 12px;
    padding: 20px 20px 20px;
}
.testimonial-card i {
    color: goldenrod;
}
.footer-section {
    background: #f1f0f0;
    padding: 40px 0px 10px;
}
.footer-section .footer-image-wrapper img {
    width: 75%;
    margin-bottom: 30px;
}
.footer-section ul.contact-info li i {
    
    margin-right: 6px;
    color: #f0162f;
}
.footer-section ul.contact-info li a:hover {
    color: #eb1143 !important;
    margin-left: 5px;
}
.footer-section ul.contact-info li a {
    transition: 0.5s;
    font-size: 16px;
}
.footer-section ul.contact-info li {
    font-size: 16px;
    margin-bottom: 10px;
}
.footer-section ul.contact-info {
    padding: 0;
    list-style: none;
}
.footer-section .row {
    align-items: start !important;
}

#service-banner {
    padding: 120px 0 80px;
    background: url(/assets/images/service-banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#trademark-service {
    padding: 80px 0 40px;
}
#trademark-service .checklist p {
    font-size: 18px;
    line-height: 28px;
    margin: 0;
}

#trademark-service .checklist {
    display: flex
;
    align-items: center !important;
    gap: 10px;
    margin-bottom: 10px;
}
#trademark-service .checklist img {
    width: 3%;
}
#trademark-service .row {
    background: #e9e9e9;
    padding: 40px 20px;
    border-radius: 12px;
    box-shadow: 0px 0px 20px #0000000d;
    align-items: start !important;
}
#copyright-section img {
    border: 4px solid #fff;
    box-shadow: 0px 0px 30px #cccccc78;
    border-radius: 12px;
    width: 85%;
}

#copyright-section {
    padding: 40px 0px 80px;
}